<div class="cursor-pointer">
  <div class="p-2 h-full">
    <div
      class="shadow-2 p-7 h-full flex flex-column surface-card border-round-3xl m-auto"
    >
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card border-round-2xl m-auto"
      >
        <i class="{{ icon }}"></i>
      </span>
      <div class="text-900 font-medium text-xl mb-2 text-center">
        <h2>{{ title }}</h2>
      </div>
      <div class="text-center">
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
</div>
