<footer class="bg-primary mt-3">
  <div class="container">
    <div class="grid align-items-center mt-0">
      <div class="col-12 md:col-2 text-center md:text-left">
        <img
          src="assets/images/iq-logo-blue-white.png"
          alt="Image"
          height="50"
          class="my-2"
        />
      </div>
      <section class="col-12 md:col-10">
        <div class="col-12">
          <p class="flex align-items-center justify-content-center">Contacts</p>
        </div>
        <div class="col-12 text-center pb-3">
          <p class="m-0">© 2022 Interview Quest. All rights reserved</p>
        </div>
      </section>
    </div>
  </div>
</footer>
