<p-toast
  [breakpoints]="{
    '1800px': { right: '0', top: '86px' },
    '992px': { width: '100%', right: '0', top: '0' }
  }"
></p-toast>
<div class="flex justify-content-center container">
  <div
    class="align-items-center container-content lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted"
  >
    <div class="text-center mb-5">
      <img
        src="assets/images/iq-logo-blue-white.png"
        alt="Image"
        height="50"
        class="mb-3 cursor-pointer"
        [routerLink]="['/']"
      />
      <div class="text-900 text-3xl font-medium mb-3">Forgot password</div>
      <span class="text-600 font-medium line-height-3">
        Please enter your email to search for your account.
      </span>
    </div>

    <div>
      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="authService.forgotPassword(email?.value)"
      >
        <label
          for="email"
          class="block text-900 font-medium mb-2"
        >
          Email
        </label>
        <input
          pInputText
          formControlName="email"
          type="email"
          placeholder="Email"
          [class]="
            email?.valid
              ? 'p-inputtext p-component p-element w-full mb-0 p-2'
              : 'input-fields-disabled-focus p-inputtext p-component p-element w-full mb-0 p-2'
          "
          autocomplete="off"
        />

        <ng-container *ngIf="email?.touched">
          <p
            *ngIf="email?.errors?.['required']"
            class="p-error mt-1 text-xs"
          >
            <i class="pi pi-exclamation-circle text-xs"></i>
            Email is required!
          </p>
          <p
            *ngIf="email?.errors?.['email']"
            class="p-error mt-1 text-xs"
          >
            <i class="pi pi-exclamation-circle text-xs"></i>
            Email is not valid!
          </p>
        </ng-container>

        <button
          pButton
          pRipple
          label="Submit"
          class="p-button-raised w-full my-3"
          [disabled]="forgotPasswordForm.invalid || loading"
        ></button>
      </form>

      <button
        pButton
        pRipple
        routerLink="/login"
        label="Back to log in"
        class="p-button-raised p-button-text w-full"
      ></button>
    </div>
  </div>
</div>
